.root {
    -fx-background-color: #0a0a0a;
}

.pantalla {
    -fx-background-color: #1a001f;
    -fx-text-fill: #39ff14;
    -fx-font-size: 22px;
}

.boton {
    -fx-background-color: #2d0036;
    -fx-text-fill: #39ff14;
    -fx-font-size: 16px;
    -fx-background-radius: 10;
}

.boton:hover {
    -fx-background-color: #8a2be2;
}